@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /* align-items: center;
    display: flex;
    justify-content: center; */
}

#form {
    align-items: center;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: tomato;
}

.form-control {
    max-width: 8rem;
    border-radius: 25px;
}

#output-container {
    text-align: center;
}

#output-container {
    margin-top: 1rem;
}