@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#form {
    align-items: center;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.form-control {
    max-width: 10rem;
}